In [1]:
from typing import List
from collections import Counter

import pandas as pd

from report import BenchmarkDb

from IPython.display import display
from ipywidgets import interact
import sqlalchemy
import ipywidgets as widgets

# check sqlalchemy version
if not sqlalchemy.__version__[:3] == '1.4':
    raise ValueError(f'Installed sqlalchemy version {sqlalchemy.__version__} is unsupported,'
         'this notebook requires sqlalchemy verision 1.4')


# Uncomment it if you want to turn of column hiding for large tables
# pd.set_option('display.max_columns', None)

### Requirements for interactive widgets

In [4]:
!pip install jinja2 ipywidgets;

Requirement already satisfied: jinja2 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: ipywidgets in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (8.0.4)
Requirement already satisfied: MarkupSafe>=2.0 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from jinja2) (2.1.2)
Requirement already satisfied: widgetsnbextension~=4.0 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipywidgets) (4.0.5)
Requirement already satisfied: ipykernel>=4.5.1 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipywidgets) (6.21.1)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipywidgets) (3.0.5)
Requirement already satisfied: ipython>=6.1.0 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipywidgets) (8.6.0)
Requirement already satisfied: traitlets>=4.3.1 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipywidgets) (5.5.0)
Requirement already satisfied: debugpy>=1.6.5 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (1.6.6)
Requirement already satisfied: tornado>=6.1 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.6)
Requirement already satisfied: psutil in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (5.9.0)
Requirement already satisfied: pyzmq>=17 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (24.0.1)
Requirement already satisfied: packaging in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (22.0)
Requirement already satisfied: nest-asyncio in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (1.5.6)
Requirement already satisfied: jupyter-client>=6.1.12 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (7.4.7)
Requirement already satisfied: comm>=0.1.1 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (5.2.0)
Requirement already satisfied: pickleshare in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.33)
Requirement already satisfied: decorator in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: stack-data in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.1)
Requirement already satisfied: jedi>=0.16 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (0.18.2)
Requirement already satisfied: pexpect>4.3 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: backcall in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets) (2.13.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: entrypoints in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets) (2.5.4)
Requirement already satisfied: ptyprocess>=0.5 in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=6.1.0->ipywidgets) (0.2.5)
Requirement already satisfied: pure-eval in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /nfs/site/home/ekrivov/.local/lib/python3.8/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.1.0)
Requirement already satisfied: six in /localdisk/ekrivov/miniconda3/envs/hm/lib/python3.8/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

### EDIT ME - Basic configuration

In [14]:
# set path to your sqlite db
DB_PATH = './file.db'
DB_PATH = 'docker/e2e-hdk/results/result_database.sqlite'

# Which benchmark do you want to visualize?
BENCHMARK = ''

# for more info look https://docs.sqlalchemy.org/en/14/tutorial/engine.html
db = BenchmarkDb(engine=sqlalchemy.create_engine(f"sqlite+pysqlite:///{DB_PATH}"))

### Benchmark results overview

You can load all names of available benchmarks with this function:

In [15]:
available_benchmarks = db.load_benchmarks()

print('Currently available benchmarks in DB are:', available_benchmarks)

Currently available benchmarks in DB are: ['ny_taxi', 'census', 'plasticc']

Load all results of selected benchmark:

In [16]:
# Pick the first benchmark as an example
BENCHMARK = available_benchmarks[0]

df, ms = db.load_benchmark_results(BENCHMARK)

When you run benchmark you submit results with :
```
db.report_arbitrary(
     # any name for the benchmark, this value is stored in `df.benchmark` column
    benchmark='census',
     # any name for backend, this value is stored in `df.pandas_mode` column
    backend='unidist' or 'Modin_on_ray' or 'my_backend',
     # Unique id for several iterations, stored in `df.run_id`
    run_id=1123312,
     # Counter for each iteration, stored in `df.iteration_no`
    iteration_no=1,
     # dict with results, more details below
    name2time={'Query1': 11.2, 'Query2': 122.1, ...},
     # additional params for this run, more details below
    params={'num_cpu': 12, 'dataset_size': 1024, 'use_intel_sklearn': 'True'},
)
```
This infomation is then stored in the database and loaded in this notebook as `df` DataFrame.

Each benchmark **run** (identified with `df.run_id`) contains one or more **iterations** (`df.iteration_no`).

Column `df.benchmark` describe benchmark name, `df.date` contains date for the iteration, `df.pandas_mode` describe your backend.

If you submited some additional information with `db.report_arbitrary(..., params={'num_cpu': 12, 'dataset_size': 1024, 'other_info': 'text'})`, then it is available as columns `df[['num_cpu', 'dataset_size', 'other_info']]`

In [17]:
df[['benchmark', 'run_id', 'iteration_no', 'date', *ms[:2]]]

   benchmark      run_id  iteration_no                date    Query1    Query2
id
1    ny_taxi  1676371913             1 2023-02-14 10:52:25  0.111791  0.065972
2    ny_taxi  1676371913             2 2023-02-14 10:52:50  0.033158  0.073573
3    ny_taxi  1676371913             3 2023-02-14 10:53:15  0.049987  0.113234
10   ny_taxi  1676372300             1 2023-02-14 11:00:48  1.220513  2.809269
11   ny_taxi  1676372300             2 2023-02-14 11:03:09  1.211741  2.794207
12   ny_taxi  1676372300             3 2023-02-14 11:05:28  1.219335  2.780694
25   ny_taxi  1676392223             1 2023-02-14 16:30:47  0.111602  0.093559
26   ny_taxi  1676392223             2 2023-02-14 16:31:10  0.044642  0.061092
27   ny_taxi  1676392223             3 2023-02-14 16:31:33  0.047896  0.059932
33   ny_taxi  1676392609             1 2023-02-14 16:39:20  1.294207  2.757611
34   ny_taxi  1676392609             2 2023-02-14 16:42:13  1.809312  3.855409
35   ny_taxi  1676392609             3 2023-02-14 16:44:50  1.257935  2.793533

`ms` variable contains names of all columns with benchmark results

In [18]:
print('ms=', ms)

df[ms]

ms= ['Query1', 'Query2', 'Query3', 'Query4', 't_readcsv']

      Query1    Query2    Query3    Query4   t_readcsv
id
1   0.111791  0.065972  0.115464  0.454854   29.733611
2   0.033158  0.073573  0.065866  0.309440   22.088449
3   0.049987  0.113234  0.079426  0.303565   22.104618
10  1.220513  2.809269  2.019524  2.323957  137.155277
11  1.211741  2.794207  2.016075  2.322213  128.750648
12  1.219335  2.780694  2.001567  2.306541  127.001736
25  0.111602  0.093559  0.118842  0.392901   21.346447
26  0.044642  0.061092  0.055843  0.244251   20.529178
27  0.047896  0.059932  0.056370  0.257117   20.313682
33  1.294207  2.757611  2.174447  2.539796  139.174502
34  1.809312  3.855409  2.801950  3.400051  156.148047
35  1.257935  2.793533  2.073140  2.347609  144.952375

In [19]:
print('There is also information about host parameter and run parameters')

df.iloc[0]

There is also information about host parameter and run parameters

benchmark                                                           ny_taxi
iteration_no                                                              1
run_id                                                           1676371913
date                                                    2023-02-14 10:52:25
server_name                                                    9d0d550a3294
architecture                                                          64bit
machine                                                              x86_64
node                                                           9d0d550a3294
os                                                                    Linux
cpu_count                                                               112
cpu_model                     Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz
cpu_mhz                                                            2738.734
cpu_max_mhz                                                       4000.0000
cpu_l1d_cache                                                       1.8 MiB
cpu_l1i_cache                                                       1.8 MiB
cpu_l2_cache                                                         56 MiB
cpu_l3_cache                                                         77 MiB
mem_total                                                     4144836820 kB
mem_free                                                      2829540872 kB
mem_available                                                 3957443384 kB
swap_total                                                       7999484 kB
swap_free                                                        7999484 kB
huge_pages_total                                                         60
huge_pages_free                                                          41
hugepage_size                                                    1048576 kB
data_file                 /datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,...
dfiles_num                                                                1
no_ml                                                                  None
use_modin_xgb                                                             0
optimizer                                                              None
pandas_mode                                                    Modin_on_hdk
ray_tmpdir                                                             /tmp
ray_memory                                                     214748364800
gpu_memory                                                             None
validation                                                                0
extended_functionality                                                    0
commit_hdk                         1234567890123456789012345678901234567890
commit_omniscripts                 1234567890123456789012345678901234567890
commit_modin                       1234567890123456789012345678901234567890
dataset_size                                                           8000
Query1                                                             0.111791
Query2                                                             0.065972
Query3                                                             0.115464
Query4                                                             0.454854
t_readcsv                                                         29.733611
Name: 1, dtype: object

In [20]:
df.iloc[:2].T

id,1,2
benchmark,ny_taxi,ny_taxi
iteration_no,1,2
run_id,1676371913,1676371913
date,2023-02-14 10:52:25,2023-02-14 10:52:50
server_name,9d0d550a3294,9d0d550a3294
architecture,64bit,64bit
machine,x86_64,x86_64
node,9d0d550a3294,9d0d550a3294
os,Linux,Linux
cpu_count,112,112
cpu_model,Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz,Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz
cpu_mhz,2738.734,2828.268
cpu_max_mhz,4000.0000,4000.0000
cpu_l1d_cache,1.8 MiB,1.8 MiB
cpu_l1i_cache,1.8 MiB,1.8 MiB
cpu_l2_cache,56 MiB,56 MiB
cpu_l3_cache,77 MiB,77 MiB
mem_total,4144836820 kB,4144836820 kB
mem_free,2829540872 kB,2829429908 kB
mem_available,3957443384 kB,3958204736 kB
swap_total,7999484 kB,7999484 kB
swap_free,7999484 kB,7999484 kB
huge_pages_total,60,60
huge_pages_free,41,41
hugepage_size,1048576 kB,1048576 kB
data_file,"/datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,...","/datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,..."
dfiles_num,1,1
no_ml,None,None
use_modin_xgb,0,0
optimizer,None,None
pandas_mode,Modin_on_hdk,Modin_on_hdk
ray_tmpdir,/tmp,/tmp
ray_memory,214748364800,214748364800
gpu_memory,None,None
validation,0,0
extended_functionality,0,0
commit_hdk,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890
commit_omniscripts,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890
commit_modin,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890
dataset_size,8000,8000
Query1,0.111791,0.033158
Query2,0.065972,0.073573
Query3,0.115464,0.065866
Query4,0.454854,0.30944
t_readcsv,29.733611,22.088449

Each run might contain several iterations, if you want to aggregate results and have single measurement for each run, you will need to aggregate results like that:

In [21]:
ITERATION_AGG = 'mean'

# we assume that other params are the same across iterations of the same run, so we can take the first one
df.groupby('run_id', as_index=False).agg({c: ITERATION_AGG if c in ms else 'first' for c in df.columns}).T

,0,1,2,3
benchmark,ny_taxi,ny_taxi,ny_taxi,ny_taxi
iteration_no,1,1,1,1
run_id,1676371913,1676372300,1676392223,1676392609
date,2023-02-14 10:52:25,2023-02-14 11:00:48,2023-02-14 16:30:47,2023-02-14 16:39:20
server_name,9d0d550a3294,9d0d550a3294,0b9a845cfe4b,0b9a845cfe4b
architecture,64bit,64bit,64bit,64bit
machine,x86_64,x86_64,x86_64,x86_64
node,9d0d550a3294,9d0d550a3294,0b9a845cfe4b,0b9a845cfe4b
os,Linux,Linux,Linux,Linux
cpu_count,112,112,112,112
cpu_model,Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz,Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz,Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz,Intel(R) Xeon(R) Platinum 8276L CPU @ 2.20GHz
cpu_mhz,2738.734,1138.976,3465.924,3446.850
cpu_max_mhz,4000.0000,4000.0000,4000.0000,4000.0000
cpu_l1d_cache,1.8 MiB,1.8 MiB,1.8 MiB,1.8 MiB
cpu_l1i_cache,1.8 MiB,1.8 MiB,1.8 MiB,1.8 MiB
cpu_l2_cache,56 MiB,56 MiB,56 MiB,56 MiB
cpu_l3_cache,77 MiB,77 MiB,77 MiB,77 MiB
mem_total,4144836820 kB,4144836820 kB,4144836820 kB,4144836820 kB
mem_free,2829540872 kB,2855179752 kB,2769723916 kB,2803264004 kB
mem_available,3957443384 kB,3982957156 kB,3899293536 kB,3932618384 kB
swap_total,7999484 kB,7999484 kB,7999484 kB,7999484 kB
swap_free,7999484 kB,7999484 kB,7999484 kB,7999484 kB
huge_pages_total,60,60,60,60
huge_pages_free,41,58,53,58
hugepage_size,1048576 kB,1048576 kB,1048576 kB,1048576 kB
data_file,"/datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,...","/datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,...","/datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,...","/datasets/taxi/trips_xa{a,b,c,d,e,f,g,h,i,j,k,..."
dfiles_num,1,1,1,1
no_ml,None,None,None,None
use_modin_xgb,0,0,0,0
optimizer,None,None,None,None
pandas_mode,Modin_on_hdk,Pandas,Modin_on_hdk,Pandas
ray_tmpdir,/tmp,/home/modin/omniscripts/tmp,/tmp,/home/modin/omniscripts/tmp
ray_memory,214748364800,214748364800,214748364800,214748364800
gpu_memory,None,None,None,None
validation,0,0,0,0
extended_functionality,0,0,0,0
commit_hdk,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890
commit_omniscripts,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890
commit_modin,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890,1234567890123456789012345678901234567890
dataset_size,8000,8000,8000,8000
Query1,0.064979,1.217196,0.068047,1.453818
Query2,0.084259,2.794723,0.071528,3.135518
Query3,0.086918,2.012388,0.077018,2.349846
Query4,0.355953,2.31757,0.29809,2.762485
t_readcsv,24.642226,130.96922,20.729769,146.758308

# Simple visualization

Simple visualization is easy to start with and good for benchmarks with several metrics without complex nesting.

In [22]:
def build_simple_table(
        df: pd.DataFrame,
        selected_metacols: List[str],
        selected_ids: List[int],
        selected_measurements: List[str]
    ):
    """Turn raw `df` with results into a more visually-appealing table with subset of results and return it. 
    
    Parameters
    ----------
    df:
        Raw dataframe with benchmark results
    selected_metacols:
        `df` columns that contain parameters of benchmark run that you want to show along with time 
        measurements. Examples: number of CPUs for the run, size of the dataset etc.
        The resulting table cols will be ordered according to the order of columns in selected_metacols,
        so it can be used to group corresponding results.
    selected_ids:
        ids, belonging to df.index, that will be selected for new table.
    selected_measurements;
        `df` columns with time measurements that require visualizaiton.
    """
    table = (
        df
        .loc[selected_ids, [*selected_metacols, *selected_measurements]]
        .sort_values(selected_metacols)
        .T
        .copy()
    )
    table.columns = [str(i) for i in table.columns]
    return table


def delta2color(v):
    if v < 0:
        c = 'green;'
    elif v > 60:
        c = 'red'
    else:
        c = '#c1c286'
    return f'color:{c};'


def display_styled(table, selected_ids, measurements):
    """Display `table` with colors and visual effects."""

    display(table
        .style
        # Hide index
        .hide(axis=1)
        # .applymap(lambda v: 'color:red;' if v > 0.25 else 'color:green;', subset=['baseline_parent_share'])
        # Coloring for deltas
        .background_gradient(axis=1, cmap="summer", subset=(measurements, table.columns))
        .applymap_index(lambda v: 'text-align:left;')
        .format('{:.4f}', subset=(measurements, table.columns))
    )

In [26]:
# Choose your benchmark
BENCHMARK = 'plasticc'
# How to aggregate results when experiment consisted of several iterations
ITERATION_AGG = 'mean'

# Columns that describe the benchmark, so that results with identical BENCHMARK_COLS can be directly compared with each other
# For instance, unidist team varied number of available cpus during the execution, so they added num_cpu, 
# that they submited with db.report_arbitrary(params={'num_cpu': 30}) during benchmark run
BENCHMARK_CONFIG_COLS = []
# Columns that describe backend, this info will be presented along with benchmark results.
# Apart from `pandas_mode` you might have something like 'library_version', 'hdk_version', 'patch_activated'
# these values have to be submited with `db.report_arbitrary(params={'library_version': 12}`
BACKEND_COLS = ['pandas_mode']

METACOLS = ['pandas_mode', 'backend_name', 'library_version']

benchmarks = db.load_benchmarks()


def present_table(benchmark, selected_measurements=None):
    # Load results
    df, measurements = db.load_benchmark_results(benchmark=benchmark)
    # Aggregate iteration results
    df = df.groupby('run_id', as_index=False).agg({c: ITERATION_AGG if c in measurements else 'first' for c in df.columns})
    
    # Select latest results for each backend
    # you can replace this with hardcoded ids
    df['latest'] = df.groupby([*BACKEND_COLS, *BENCHMARK_CONFIG_COLS])['date'].transform('rank', ascending=False)
    n_top = 1
    selected_ids = df[df['latest'] <= n_top].index

    # pick measurements
    if selected_measurements is None:    
        selected_measurements = measurements
    
    # build table for visuals
    table = build_simple_table(
        df,
        selected_metacols=BACKEND_COLS + BENCHMARK_CONFIG_COLS,
        selected_ids=selected_ids,
        selected_measurements=selected_measurements
    )
    
    # Styling
    display_styled(table, selected_ids, measurements=selected_measurements)

present_table(BENCHMARK)

# Visualizaiton with prefix hierarchy

This is useful if you have prefix hierarchy in your benchmark like `total.preprocess.train.fe.candidate_generation.popularity`

In [12]:
def get_available_parent_prefixes(queries):
    """Learn parent prefixes for benchmarks with hierarchical measurements."""
    parent_prefixes = Counter('.'.join(tuple(n.split('.')[:-1])) for n in sorted(queries))
    parent_prefixes.pop('')

    return parent_prefixes


def filter_by_prefix(m_names, prefix: str):
    if prefix is None:
        return m_names
    prefix_splitter = tuple(prefix.split('.'))
    return [m for m in m_names if tuple(m.split('.')[:-1]) == prefix_splitter]

In [13]:
# Choose your benchmark
BENCHMARK = 'hm_fashion_recs'
# How to aggregate results when experiment consisted of several iterations
ITERATION_AGG = 'mean'

# Columns that describe the benchmark, so that results with identical BENCHMARK_COLS can be directly compared with each other
# For instance, unidist team varied number of available cpus during the execution, so they added num_cpu, 
# that they submited with db.report_arbitrary(params={'num_cpu': 30}) during benchmark run
BENCHMARK_CONFIG_COLS = []
# Columns that describe backend, this info will be presented along with benchmark results.
# Apart from `pandas_mode` you might have something like 'library_version', 'hdk_version', 'patch_activated'
# these values have to be submited with `db.report_arbitrary(params={'library_version': 12}`
BACKEND_COLS = ['pandas_mode']

METACOLS = ['pandas_mode', 'backend_name', 'library_version']

df, measurements = db.load_benchmark_results(BENCHMARK)
parent_prefixes = get_available_parent_prefixes(measurements)

if len(parent_prefixes) == 0:
    raise ValueError('No hierarchy detected in benchmark results')

@interact(
    chosen_prefix=widgets.RadioButtons(
        options=list(parent_prefixes),
        description='Prefix',
        default=1,
        disabled=False,
    )
)
def interactive_table(chosen_prefix):
    selected_measurements = [chosen_prefix, *filter_by_prefix(measurements, prefix=chosen_prefix)]
    present_table(BENCHMARK, selected_measurements=selected_measurements)

interactive(children=(RadioButtons(description='Prefix', options=('total', 'total.02-create_user_ohe_agg', 'to